<%- include("../templates/header.ejs", { tipoNavbar: "logged" , tituloPestana: "Grafiti DB" , user,
    index: 2, cssFiles: [] }) %>

    <div class="container-fluid my-4">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="d-inline">Grafiti DB</h3>
                        <div class="btn-group float-right">
                            <button class="d-inline dropdown-toggle btn btn-info" type="button"
                                data-toggle="dropdown">Filtrar
                                <!--span class="material-icons-outlined">filter_list</span--> <i class="fa fa-bars"
                                    aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" type="button" data-toggle="modal"
                                    data-target="#filtro-zona">por zona <i class="fa fa-map-marker ml-1"
                                        aria-hidden="true"></i>
                                </a>
                                <a class="dropdown-item" type="button" data-toggle="modal"
                                    data-target="#filtro-fecha">por fecha <i class="fa fa-calendar ml-1"
                                        aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <% if (grafitis.length> 0) { %>
                            <div class="row">
                                <% for(const image of grafitis) { %>
                                    <div class="col-4 col-sm-3 col-lg-2 mb-2" style="position: relative">
                                        <a class="" href="/usuario/grafiti/<%= image._id %>">
                                            <img src="/api/grafitis/get-thumbnail/<%= image._id %>"
                                                alt="<%= image.description %>" class="w-100 h-100 img img-thumbnail"
                                                style="display: block">
                                            <%# if (image.gps) { %>
                                                <!--i class="fa fa-map-marker-alt"
                                                    style="position: absolute; bottom:0; left:0;"></i-->
                                                <%# } %>
                                        </a>
                                        <!--div class="row">
                                            <a class="card-link col" href="">
                                                <span class="text-dark small float-right"><#%= image.user.email %></span>
                                            </a>
                                        </div-->
                                    </div>
                                    <% } %>
                            </div>
                            <% } else { %>
                                <h3 class="display-4 text-center justify-content-center">No hay grafitis</h3>
                                <% } %>
                    </div>

                    <div class="card-footer">
                        <!-- ELEMENTO DE PAGINACIÓN -->
                        <%- include("../templates/elements/pagination.ejs", { pagina, limPages, query }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CODIGO DEL MODAL DE FILTRO POR ZONA -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="filtro-zona">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Seleccione el centro</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="floating-panel">
                        <div class="row mx-2">
                            <div class="input-group">
                                <input id="direccion" type="text" class="form-control" placeholder="Dirección"
                                    autocomplete="off">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-success"
                                        id="buscar_direccion">Buscar</button>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <label class="d-inline" for="radius">Radio de búsqueda: </label>
                        <label id="showRadius" class="d-inline">5 km</label>
                        <input type="range" class="d-block mt-2 col-11 p-0" autocomplete="off" min="0.1" max="200"
                            step="0.1" value="5" id="radius">
                    </div>
                    <hr>
                    <div id="map" class="img-thumbnail w-100" style="height: 300px;"></div>
                </div>
                <div class="modal-footer">
                    <button id="aplicar_filtro_zona" type="button" class="btn btn-success">Aplicar filtro<i
                            class="d-none fa fa-spinner fa-pulse" id="spinner_zona"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- CODIGO DEL MODAL DE FILTRO POR FECHA -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" id="filtro-fecha">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Seleccione las fechas de subida</h5>
                    <button type="button" id="cerrar_filtro_fecha" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mx-2">
                        <div class="col-6">
                            <label for="fecha_ini">Fecha de inicio</label>
                            <input type="date" name="fecha_ini" id="fecha_ini">
                        </div>
                        <div class="col-6">
                            <label for="fecha_fin">Fecha final</label>
                            <input type="date" name="fecha_fin" id="fecha_fin">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="aplicar_filtro_fecha" type="button" class="btn btn-success">Aplicar filtro<i
                            class="d-none fa fa-spinner fa-pulse" id="spinner_fecha"></i></button>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/userPages/grafiti-db-modal.js"></script>

    <%# Script de la api de maps; debe ir tras la función initMap %>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= maps_key %>&callback=initMap&libraries=&v=weekly"
            async></script>

        <%- include("../templates/footer"); %>