<%- include("../templates/header.ejs", { tipoNavbar: "logged" , tituloPestana: "Grafiti" , user, index: 0, cssFiles: ["matches-carousel"]}) %>

    <div class="container-fluid my-3">
        <div class="row border">

            <div class="col-12 col-sm-6">
                <img src="/api/grafitis/get/<%= grafiti.id %>" class="w-100 img-thumbnail">
                <span class="float-right"><i class="fa fa-clock-o"></i> Subido <%= timeAgo %></span>
                
                <%- include("../templates/elements/match-carousel.ejs", { grafiti, imagesHeight: "200px" }) %>
        
            </div>

            <div class="col-12 col-sm-6 my-3 my-sm-0">
                <div class="card">
                    <div class="card-header">
                        <h5>Detalles</h5>
                    </div>
                    <div class="card-body">
                        <form id="desc_form" class="form">
                            <div class="form-group">
                                <label for="description">Descripción</label>
                                <% if (grafiti.description==="" ) { %>
                                    <div id="description">
                                        <h6 class="text-secondary">Sin descripción</h6>
                                    </div>
                                    <% } else { %>
                                        <textarea id="description" class="form-control-plaintext" readonly rows="2"
                                            autocapitalize="sentences" resize="none"
                                            placeholder="Detalles de la imagen..."><% if (grafiti.description) { %><%= grafiti.description %><% } %></textarea>
                                        <% } %>
                            </div>
                            <div class="form-group">
                                <% if (!grafiti.gps) { %>
                                    <label for="ubicacion">Ubicación</label>
                                    <div id="ubicacion" class="mx-auto">
                                        <h6 class="text-secondary">Sin datos de ubicación</h6>
                                    </div>
                                    <% } else { %>
                                        <label for="map">Ubicación</label>
                                        <div id="map" class="img-thumbnail w-100" style="height: 200px;"
                                            data-lng="<%= grafiti.gps.location.coordinates[0] %>"
                                            data-lat="<%= grafiti.gps.location.coordinates[1] %>"></div>
                                        <% } %>
                            </div>

                            <div class="form-group row">
                                <label class="col-5" for="">Fecha de captura</label>
                                <input type="text" class="col-6 form-control-plaintext" style="text-align: center;"
                                    readonly value="<%= grafiti.dateTimeOriginal.toLocaleString('es-ES') %>">
                            </div>
                            <div class="form-group row">
                                <label class="col-5" for="">Fecha de subida</label>
                                <input type="text" class="col-6 form-control-plaintext" style="text-align: center;"
                                    readonly value="<%= grafiti.uploadedAt.toLocaleString('es-ES') %>">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>

    <% if (grafiti.gps) { %>
        <!-- Script que ubica en el mapa el punto designado del grafiti -->
        <script src="/js/userPages/map-grafiti-desc.js"></script>
        <!-- Script de la api de maps; debe ir tras la función initMap -->
        <script async
            src="https://maps.googleapis.com/maps/api/js?key=<%= maps_key %>&callback=initMap&libraries=&v=weekly"></script>
        <% } %>

            <%- include('../templates/footer'); %>