<%- include("../templates/header.ejs", { tipoNavbar: "logged" , tituloPestana: "Grafiti DB" , username: user.name,
    index: 2 }) %>

    <div class="container my-4">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="d-inline">Grafitis Recientes</h3>
                        <div class="btn-group float-right">
                            <button class="d-inline dropdown-toggle btn btn-info" type="button" data-toggle="dropdown">Filtrar <i class="fa fa-filter" aria-hidden="true"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item">por zona <i class="fa fa-map-marker ml-1" aria-hidden="true"></i>
                                </a>
                                <a class="dropdown-item">por usuario <i class="fa fa-user-circle-o ml-1" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <% if (grafitis.length > 0) { %>
                            <div class="row">
                                <% for(const image of grafitis) { %>
                                    <div class="col-4 col-sm-3 col-lg-2 mb-2" style="position: relative">
                                        <a class="" href="/usuario/grafiti/<%= image._id %>">
                                            <img src="/api/grafitis/get-thumbnail/<%= image._id %>"
                                                alt="<%= image.description %>" class="w-100 h-100 img img-thumbnail"
                                                style="display: block">
                                            <%# if (image.gps.latitude!=0 || image.gps.longitude!=0) { %>
                                                <!--i class="fa fa-map-marker-alt"
                                                    style="position: absolute; bottom:0; left:0;"></i-->
                                                <%# } %>
                                        </a>
                                        <!--div class="row">
                                            <a class="card-link col" href="">
                                                <span class="text-dark small float-right"><#%= image.user.email %></span>
                                            </a>
                                        </div-->
                                    </div>
                                    <% } %>
                            </div>
                            <% } else { %>
                                <h3 class="display-4 text-center justify-content-center">Aún no ninguna imagen en la
                                    base de datos</h3>
                                <% } %>
                    </div>

                    <div class="card-footer">
                        <!-- ELEMENTO DE PAGINACIÓN -->
                        <%- include("../templates/pagination.ejs", { pagina, limPages }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include("../templates/footer"); %>