<%- include("../templates/header.ejs", { tipoNavbar: "logged" , tituloPestana: "Página de usuario" , user, index: 1,
    cssFiles: [] }) %>

    <div class="container pt-3">

        <div class="card mb-3">

            <div class="card-header bg-dark text-white">
                <a href="usuario/mis-grafitis">
                    <h3 class="d-inline text-white card-link">
                        <i class="fa fa-image"></i> Mis grafitis
                    </h3>
                </a>
                <a href="/usuario/subir-grafiti" class="d-inline float-right">
                    <button type="button" class="btn btn-primary">Subir Grafitis</button>
                </a>
            </div>

            <div class="card-body">
                <% if (images.length> 0) { %>
                    <div class="row">
                        <% for(const image of images) { %>
                            <div class="col-6 col-sm-4 col-lg-3 mb-2" style="position: relative">
                                <a href="/usuario/grafiti/<%= image._id %>">
                                    <img src="/api/grafitis/get-thumbnail/<%= image._id %>"
                                        alt="<%= image.description %>" class="w-100 h-100 img img-thumbnail"
                                        style="display: block">
                                    <%# if (!image.gps) { %>
                                        <!--i class="fa fa-map-marker-alt"
                                            style="position: absolute; bottom:0; left:0;"></i-->
                                        <%# } %>
                                </a>
                            </div>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h3 class="display-4 text-center justify-content-center text-secondary">Aún no se ha subido
                            ninguna imagen</h3>
                        <% } %>
            </div>

        </div>

    </div>

    <%- include('../templates/footer'); %>