<%- include("../templates/header.ejs", { tipoNavbar: "logged" , tituloPestana: titulo , user, index: 0, cssFiles:
    ["matches"] }) %>

    <div class="container-fluid">
        <div class="row">
            <!-- Aqui mostramos el grafiti -->
            <div class="col-12 col-sm-6 mt-3">
                <img src="/api/grafitis/get/<%= grafiti %>" class="w-100 img-thumbnail">
            </div>
            <!-- Aqui mostramos sus matches -->
            <div class="col-12 col-sm-6 my-3">
                <div class="card">
                    <div class="card-header">
                        <h3 class="d-inline" id="matchesHeader">Coincidencias <span id="numMatches"></span></h3>
                        <div class="float-right">
                            <button type="button" class="btn btn-success" id="download"
                                data-toggle="modal" data-target="#modal_download" title="Descargar matches">
                                    <div class="download-icon"><i class="fa fa-download" aria-hidden="true"></i></div>
                            </button>
                            <div class="btn-group">
                                <button class="d-inline dropdown-toggle btn btn-secondary" type="button"
                                    data-toggle="dropdown">Ordenar <i class="fa fa-sort" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item active text-white" type="button" id="sortSimilarity" data-toggle="modal" data-target="#filtro-similarity">por % de similitud <i class="fa fa-bullseye ml-1" aria-hidden="true"></i> <span class="ml-1 mb-1 badge badge-warning badge-pill" id="sortPill" data-toggle="tooltip" title="Invertir orden"> <i id="sortDataBadge" class="fa fa-sort-numeric-desc"></i></span>
                                    </a>
                                    <!--a class="dropdown-item" type="button" data-toggle="modal"
                                        data-target="#filtro-distancia">por distancia <i class="fa fa-map-marker ml-1"
                                            aria-hidden="true"></i>
                                    </a-->
                                </div>
                            </div>
                        </div>  
                    </div>

                    <div class="card-body" id="cardBody" data-grafiti="<%= grafiti %>">
                        <div class="row" id="matchesBody">
                            <!-- matches.js rellena con las imágenes -->
                        </div>
                    </div>

                    <div class="card-footer" id="cardFooter">
                        <div id="paginacion" class="row justify-content-center align-items-center">
                            <ul class="pagination" id="listPages">
                                <!-- matches.js insertará las páginas -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal de eliminación -->
    <div class="modal fade" id="modal_delete">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" id="content-delete">
                
                <div class="modal-header bg-danger">
                    <h4 class="modal-title text-white">Eliminar match</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                
                <div class="modal-body container-fluid">
                    <div class="row justify-content-center my-2">
                        <h6 class="text">¿Está seguro de que desea eliminar el match?</h6>
                    </div>
                    
                    <div class="row justify-content-around my-2">

                        <button type="button" data-dismiss="modal"
                            class="btn btn-outline-info col-12 col-sm-4">Cancelar</button>
                        <button class="btn btn-danger col-12 col-sm-4" id="delete-match-btn">Eliminar <i
                                class="fa fa-spinner d-none" id="spinner-delete"></i></button>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Fin modal de eliminación -->
    
    <!-- Modal de descarga -->
    <div class="modal fade" id="modal_download">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" id="content-download">
                
                <div class="modal-header bg-success">
                    <h4 class="modal-title text-white">Descargar <span id="span-title-download"></span></h4>
                    <button type="button" class="close" id="download_close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <h6 class="text mb-0">¿Está seguro de que desea descargar <span id="span-subtitle-download"> </span>?</h6><br>
                            
                    <div class="form-check col-12 ml-2 mt-0">
                        <input class="form-check-input" type="checkbox" name="pending" id="pending">
                        <label class="form-check-label" for="pending">Descargar también matches sin confirmar</label>
                    </div>
                            
                    <div class="form-check col-12 ml-2">
                        <input class="form-check-input" type="checkbox" name="csv" id="csv" checked>
                        <label class="form-check-label" for="csv">Generar archivo con la información recogida</label>
                    </div>

                    <div class="row justify-content-around px-2 mt-3">
                        
                        <button type="button" data-dismiss="modal"
                            class="btn btn-outline-info col-12 col-sm-4">Cancelar</button>
                        <button class="btn btn-success mt-2 mt-sm-0 col-12 col-sm-4" data-user="<%= user._id %>" id="download-btn">Descargar <i
                                    class="fa fa-spinner fa-pulse d-none" id="spinner-download"></i></button>

                    </div>
                </div>
                
                <div id="download-footer" class="modal-footer d-none container-fluid">
                    <div class="row justify-content-center px-3">
                        <span id="download-info" class="col-12">Iniciando</span>
                        <div id="download-progress" class="col-12 progress my-3 px-0">
                            <div id="download-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-success"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Fin modal de descarga -->

    <script src="/socket.io/socket.io.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/userPages/matches.js"></script>

    <%- include("../templates/footer"); %>