<%- include("../templates/header.ejs", { tipoNavbar: "logged" , tituloPestana: "Mis Grafitis" , user, index: 0,
    cssFiles: ["selectable-gallery"] }) %>

    <div class="container my-4">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="d-inline">Mis Grafitis</h3>
                        <!--div class="d-inline float-right">
                            <a href="/usuario/subir-grafiti" class="d-inline btn-group">
                                <button type="button" class="btn btn-success"><i class="fa fa-plus"
                                        aria-hidden="true"></i> A침adir</button>
                            </a>
                            <div class="btn-group d-inline">
                                <button class="d-inline dropdown-toggle btn btn-info" type="button"
                                    data-toggle="dropdown">Filtrar <i class="fa fa-bars" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" type="button" data-toggle="modal"
                                        data-target="#filtro-zona">por zona <i class="fa fa-map-marker ml-1"
                                            aria-hidden="true"></i>
                                    </a>
                                    <a class="dropdown-item" type="button" data-toggle="modal"
                                        data-target="#filtro-fecha">por fecha <i class="fa fa-calendar ml-1"
                                            aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div-->
                    </div>

                    <div class="card-body">
                        <div id="gallery" class="gallery">
                            <!-- El js rellenar치 las im치genes -->
                            <% if (grafitis.length == 0) { %>
                            <h3 class="display-4">No hay im치genes</h3>
                            <% } else {%>
                            <ul>
                                <% for( let index = 0; index < grafitis.length; index++ ) { 
                                    const grafiti = grafitis[index]; %>
                                    
                                    <li>
                                    <input type="checkbox" class="checkbox" id="<%= grafiti._id %>" />
                                    <label for="<%= grafiti._id %>">
                                        <img src="/api/grafitis/get/<%= grafiti._id %>" class="gallery__img" alt="<%= grafiti.description %>">
                                    </label>
                                    </li>
                                    
                                <% } %>
                            </ul>
                            <% } %>
                        </div>
                    </div><!-- Fin card-body -->

                </div><!-- Fin card -->
            </div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> 
    </script> 
    <script src="/js/userPages/mis-grafitis-selectable.js"></script>

    <%- include("../templates/footer"); %>