<%- include("../templates/header.ejs", { tipoNavbar: "logged" , tituloPestana: titulo , user, index: 0, cssFiles: ["matches-carousel", "reverse-gallery"]}) %>

    <div class="container-fluid my-3">
        <div class="row">

            <div class="col-12 col-sm-4 px-1">
                <img id="grafitiImg" src="/api/grafitis/get/<%= grafiti.id %>" data-grafiti="<%= grafiti.id %>" class="w-100 img-thumbnail">
                <span class="float-right"><i class="fa fa-clock-o"></i> de <%= timeAgo %></span>
            </div>

            <div class="col-6 col-sm-4 my-3 my-sm-0 px-1">
                <div class="card">
                    
                    <div class="card-header pb-1 pl-3">
                        <h5><i class="fa fa-info-circle mr-1"></i> Detalles</h5>
                    </div>
                    
                    <div class="card-body p-2">
                        <div id="map"  style="height: 160px;"
                        <% if(grafiti.gps) { %>
                            data-lng="<%= grafiti.gps.location.coordinates[0] %>"
                            data-lat="<%= grafiti.gps.location.coordinates[1] %>"
                            class="img-thumbnail w-100"></div>
                        <% } else { %>
                            class="d-none img-thumbnail w-100"></div>
                            <h6 class="ml-2 mt-2 text-secondary">Sin ubicación</h6>
                        <% } %> 
                        
                        <div class="pt-2 px-2">
                            <div class="form-group">
                                <label for="description">Descripción</label>
                                <% if (grafiti.description==="") { %>
                                <div id="description">
                                    <h6 class="text-secondary">Sin descripción</h6>
                                </div>
                                <% } else { %>
                                <textarea id="description" class="form-control-plaintext" readonly rows="2"
                                    autocapitalize="sentences" resize="none"
                                    placeholder="Detalles de la imagen..."><% if (grafiti.description) { %><%= grafiti.description %><% } %></textarea>
                                <% } %>
                            </div>
                            
                            <div class="form-group row mb-0">
                                <label class="col-5" for="">Fecha de captura</label>
                                <input type="text" class="col-6 form-control-plaintext p-0" style="text-align: center;"
                                    readonly value="<% if(grafiti.dateTimeOriginal) { %><%= grafiti.dateTimeOriginal.toLocaleString('es-ES') %><% } else { %>Unknown<% } %>">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="col-6 col-sm-4 my-3 my-sm-0 px-1">
                <%- include("../templates/elements/match-carousel.ejs", { grafiti, imagesHeight: "200px", encolumnar: false, propio: false }) %>
            </div>
        </div>
        
            <div class="row">
                <div class="col">
                    <div class="card mx-2">
                        <div class="card-header">
                            <h3 class="d-inline">Resultados</h3>
                        </div>
    
                        <div class="card-body pt-0">
                            <div>
                                <ul id="gallery" class="gallery row justify-content-around" data-limit="<%= grafitisFetchLimit %>">
                                    <!-- El js rellena las imágenes -->
                                </ul>
                            </div>
                        </div><!-- Fin card-body -->
    
                    </div><!-- Fin card -->
                </div>
                
            </div>
        
    </div>

    <!-- CÓDIGO DEL MODAL DE MATCH -->
    <div class="modal fade match-modal" id="match-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              
            <div class="modal-header">
                <h4 class="modal-title">Confirmar match</h4>
                <button type="button" class="close" id="match_modal_close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            
            <div class="modal-body pb-0 pt-2">
                <div class="row">
                    
                    <!-- IMAGEN 1 -->
                    <div id="image_box_1" class="col-12 mb-2 col-md-6">
                        <div id="imagen_1" class="p-1 img-thumbnail mb-1">
                            
                        </div>
                        
                        <div id="mapa_1" class="img-thumbnail mx-auto" style="height: 180px; width: 90%;">
                        </div>
                    </div>
                    
                    <div id="division"></div>
                    
                    <!-- IMAGEN 2 -->
                    <div id="image_box_2" class="col-12 mb-2 col-md-6">
                        <div id="imagen_2" class="p-1 img-thumbnail mb-1">
                            
                        </div>
                        <div id="mapa_2" class="img-thumbnail mx-auto" style="height: 180px; width: 90%;">
                        </div>
                        
                    </div>
                    
                </div>
            </div>
            
            <div class="modal-footer">
                
                <button id="establecer_match" type="button" class="btn btn-success"><span id="establecer_match_text">Confirmar match</span> <i class="d-none fa fa-spinner fa-pulse" id="spinner_establecer"></i>
                </button>
                
            </div>
            
          </div>
        </div>
      </div>      

    <!-- CÓDIGO DEL MODAL DE ERROR -->
    <div class="modal" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Se ha producido un error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="contenido"> </p>
                    <p id="contenido_adicional" class="small text-danger"> </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Script que ubica en el mapa el punto designado del grafiti -->
    <script src="/js/userPages/map-grafiti-desc.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/userPages/reverseSearch/reverseSearch.js"></script>
    <script src="/js/userPages/reverseSearch/reverseSearch-fetch.js"></script>
    <%# Script de la api de maps; debe ir tras la función initMap %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= maps_key %>&callback=initMap&libraries=&v=weekly" async></script>

<%- include('../templates/footer'); %>