<%- include("../templates/header.ejs", { tipoNavbar: "logged" , tituloPestana: titulo , user, index: 0, cssFiles: ["matches-carousel", "reverse-gallery"]}) %>

    <div class="container-fluid my-3">
        <div class="row">

            <div class="col-12 col-sm-4 px-1">
                <img id="grafitiImg" src="/api/grafitis/get/<%= grafiti.id %>" data-grafiti="<%= grafiti.id %>" class="w-100 img-thumbnail">
                <span class="float-right"><i class="fa fa-clock-o"></i> de <%= timeAgo %></span>
            </div>

            <div class="col-6 col-sm-4 my-3 my-sm-0 px-1">
                <div class="card">
                    
                    <div class="card-header pb-1 pl-3">
                        <h5><i class="fa fa-info-circle mr-1"></i> Detalles</h5>
                    </div>
                    
                    <div class="card-body p-2">
                        <div id="map" class="img-thumbnail w-100" style="height: 160px;"
                            data-lng="<%= grafiti.gps.location.coordinates[0] %>"
                            data-lat="<%= grafiti.gps.location.coordinates[1] %>">
                        </div>
                        
                        <div class="pt-2 px-2">
                            <div class="form-group">
                                <label for="description">Descripción</label>
                                <% if (grafiti.description==="") { %>
                                <div id="description">
                                    <h6 class="text-secondary">Sin descripción</h6>
                                </div>
                                <% } else { %>
                                <textarea id="description" class="form-control-plaintext" readonly rows="2"
                                    autocapitalize="sentences" resize="none"
                                    placeholder="Detalles de la imagen..."><% if (grafiti.description) { %><%= grafiti.description %><% } %></textarea>
                                <% } %>
                            </div>
                            
                            <div class="form-group row mb-0">
                                <label class="col-5" for="">Fecha de captura</label>
                                <input type="text" class="col-6 form-control-plaintext p-0" style="text-align: center;"
                                    readonly value="<% if(grafiti.dateTimeOriginal) { %><%= grafiti.dateTimeOriginal.toLocaleString('es-ES') %><% } else { %>Unknown<% } %>">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="col-6 col-sm-4 my-3 my-sm-0 px-1">
                <%- include("../templates/elements/match-carousel.ejs", { grafiti, imagesHeight: "200px", encolumnar: false, propio: false }) %>
            </div>
        </div>
        
            <div class="row">
                <div class="col">
                    <div class="card mx-2">
                        <div class="card-header">
                            <h3 class="d-inline">Resultados</h3>
                        </div>
    
                        <div class="card-body">
                            <div>
                                <ul id="gallery" class="gallery row justify-content-around" data-limit="<%= grafitisFetchLimit %>">
                                </ul>
                            </div>
                        </div><!-- Fin card-body -->
    
                    </div><!-- Fin card -->
                </div>
                
            </div>
        
    </div>

    <!-- CODIGO DEL MODAL DE UBICACIÓN -->
    <div class="modal fade" id="ubicacion">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Seleccione la ubicación</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="floating-panel">
                        <div class="row mx-2">
                            <div class="input-group">
                                <input id="direccion" type="text" class="form-control" placeholder="Dirección">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary"
                                        id="buscar_direccion">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div id="modalmap" class="img-thumbnail w-100" style="height: 300px;"></div>
                </div>
                <div class="modal-footer">
                    
                    <button id="eliminar_ubicacion" type="button" class="btn btn-outline-danger <% if(!grafiti.gps) { %>d-none<% } %>">Eliminar
                        ubicación</button>
                    <button id="guardar_ubicacion" type="button" class="btn btn-success">Guardar ubicación <i
                            class="d-none fa fa-spinner fa-pulse" id="spinner"></i></button>
                </div>
            </div>
        </div>
    </div>

    <!-- CÓDIGO DEL MODAL DE ERROR -->
    <div class="modal" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Se ha producido un error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="contenido"> </p>
                    <p id="contenido_adicional" class="small text-danger"> </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Script que ubica en el mapa el punto designado del grafiti -->
    <script src="/js/userPages/map-grafiti-desc.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/userPages/reverseSearch/reverseSearch-fetch.js"></script>
    <%# Script de la api de maps; debe ir tras la función initMap %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= maps_key %>&callback=initMap&libraries=&v=weekly" async></script>

<%- include('../templates/footer'); %>