<%- include("../templates/header.ejs", { tipoNavbar: "logged" , tituloPestana: `(${user.notifications}) Notificaciones`
    , user, index: 0, cssFiles: ["notification-table"] }) %>

    <div class="container my-4">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3 class="d-inline" id="cardHeader" 
                        data-user="<%= user._id %>" 
                        data-notifications="<%= user.notifications %>">
                            <span class="d-none d-sm-inline">
                                <% if(user.notifications> 0) { %>Tiene
                            </span>
                            <span class="text-warning"><%= user.notifications %></span> <span class="d-none d-sm-inline">n</span><span
                                    class="d-inline d-sm-none">N</span>otificaci<% if(user.notifications > 1) { %>ones<% } else { %>ón<% } %><% } else { %>Sin notificaciones<% } %>
                        </h3>
                    </div>
                    
                    <div class="card-body pb-2" id="cardBody">
                        <div class="row mb-2">
                            <button id="checkall" type="button" class="btn ml-auto mr-2 d-none">Marcar como visto todas</button>
                        </div>
                        <div class="row px-3" id="list"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script async src="/js/userPages/notifications.js"></script>

    <%- include("../templates/footer"); %>