<%- include("../templates/header.ejs", { tipoNavbar: "logged" , tituloPestana: "Mi perfil" , user, index: 0, cssFiles: [] }) %>

    <div class="container my-3 my-sm-4">

        <!--CARD-->
        <div class="card" style="max-width: 700px;">

            <div class="card-header bg-primary">
                <h4 class="card-title text-light d-inline"><span class="d-none d-sm-inline">Perfil de<span
                            class="d-none d-lg-inline"> usuario de</span> </span>
                    <%=user.name+" "+user.surname%></h4>
                <img src=" /images/user.png" class="img img-thumbnail rounded-circle float-right"
                        style="max-width: 40px;">
            </div>

            <div class="card-body">
                <form class="form align-items-center">

                    <div class="form-row mt-2">
                        <label for="nombre" class="col-4">Nombre</label>
                        <input type="text" class="form-control col-8 col-md-6 pl-sm-2" name="nombre" id="nombre"
                            readonly value="<%= user.name %>">
                    </div>

                    <div class="form-row mt-2">
                        <label for="apellidos" class="col-4">Apellidos</label>
                        <input type="text" class="form-control col-8 col-md-6 pl-sm-2" name="apellidos" id="apellidos"
                            readonly value="<%= user.surname %>">
                    </div>

                    <div class="form-row mt-2">
                        <label for="email" class="col-4">Email</label>
                        <input type="text" class="form-control col-8 col-md-6 pl-sm-2" name="email" id="email" readonly
                            value="<%= user.email %>">
                    </div>

                </form>
            </div>

            <hr class="mt-3 mb-2">

            <div class="card-body">

                <div class="row justify-content-center">
                    <h5 class="pb-2">Cambiar contraseña</h5>
                </div>
                <h6 class="mb-4">Última vez cambiada: <span class="text-info">
                        <%= user.lastPasswordRenewal.toLocaleString('es-ES') %>
                    </span></h6>

                <form id="cambio" class="form">

                    <div class="form-row mt-2">
                        <label for="password" class="col-5">Nueva contraseña</label>
                        <input type="password" class="form-control col-7 col-md-6 pl-sm-2" name="password" id="password"
                            placeholder="Contraseña" required="required" minlength="10" maxlength="50">
                    </div>

                    <div class="form-row mt-2">
                        <label for="password2" class="col-5">Repita la contraseña</label>
                        <input type="password" class="form-control col-7 col-md-6 pl-sm-2" name="password2"
                            id="password2" placeholder="Verificación de contraseña" required="required" minlength="10"
                            maxlength="50">
                        <div id="error" class="invalid-feedback"></div>
                    </div>

                    <button id="submit" type="submit" class="btn btn-warning mt-3 float-right">Cambiar
                        contraseña <i id="cargando" class="fa fa-spinner fa-pulse d-none"></i></button>

                </form>
            </div>

            <hr class="mt-3 mb-2">

            <div class="card-body">

                <div class="row justify-content-center">
                    <h5 class="pb-2">Notificaciones por email</h5>
                </div>

                <form id="notificaciones" class="form">

                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" name="matches" id="matches" <% if (notification_config.includes("matches")) { %>checked<% } %>>
                        <label class="form-check-label" for="matches">Avisarme por correo al hallarse una coincidencia para alguno de sus grafitis</label>
                        <!--input class="form-check-input" type="checkbox" name="matches" id="matches">
                        <label class="form-check-label" for="matches">Avisarme por correo al hallarse una coincidencia</label-->
                    </div>

                    <button id="submit_notifications" type="submit" disabled class="btn btn-secondary mt-3 float-right">Guardar preferencias <i id="cargando_notificaciones" class="fa fa-spinner fa-pulse d-none"></i></button>

                </form>
            </div>

            <div class="card-footer">
                <button type="button" class="btn col text-danger" id="boton_eliminar">Eliminar mi perfil</button>
            </div>

            <!--FIN CARD-->
        </div>

    </div>

    <!-- CÓDIGO DEL MODAL DE ELIMINACIÓN DE PERFIL -->
    <div class="modal" id="eliminacion" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-danger">
                <div class="modal-header">
                    <h5 class="modal-title text-dark">Está a punto de eliminar su perfil de usuario</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <form id="form_eliminacion" class="form">
                    <div class="modal-body">
                        <p>Está a un paso de eliminar completamente su cuenta. Antes de continuar preste atención.</p>
                        <p>Si está del completamente seguro de que desea eliminar su cuenta haga
                            click en "<span class="text-dark">Eliminar</span>".</p>
                        <p>A continuación, si lo tiene claro, decida si desea mantener sus grafitis en la página o si
                            por el
                            contrario desea eliminarlos también.</p>
                        <div class="row justify-content-center">
                            <div class="card p-2">
                                <div class="form-check" data-toggle="tooltip"
                                    title="Los datos de su cuenta serán completamente eliminados de nuestro sistema, y sus imágenes permanecerán almacenadas en la base de datos como contribuciones anónimas de la comunidad.">
                                    <input type="checkbox" class="form-check-input" id="check" checked="true">
                                    <label for="check" class="form-check-label">Mantener los grafitis subidos en la
                                        página
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger text-dark col" id="eliminar">Eliminar <i
                                class="fa fa-spinner fa-pulse d-none" id="cargando_eliminacion"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- CÓDIGO DEL MODAL DE ERROR -->
    <div class="modal" id="error_modal" tabindex="-2" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">Se ha producido un error</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="contenido"> </p>
                    <p id="contenido_adicional" class="small text-danger"> </p>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/userPages/user-profile.js"></script>

    <%- include('../templates/footer'); %>